<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-plain">
                <div class="card-header card-header-primary">
                    <h4 class="card-title lg-0">ĐƠN HÀNG</h4>
                    <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" style="font-size: 12px;">
                            <thead class="">
                                <th>
                                    Tên nhà cung cấp dịch
                                </th>
                                <th>
                                    ID Dịch vụ
                                </th>
                                <th>
                                    ID người dùng
                                </th>
                                <th>
                                    Loại
                                </th>

                                <th>
                                    Số lượng người
                                </th>
                                <th>
                                    Thời gian nhận
                                </th>
                                <th>
                                    Chú thích
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th>
                                    Đã nhận đơn?
                                </th>
                            </thead>
                            <tbody>
                             <% @thanhtoan.each do |tt| %>   

                                 <tr>
                                  <td><%= tt.id%></td>
                                  <td><%= tt.tendanhmuc%></td>
                                  <td><%= tt.iduser%></td>
                                  <td><%= tt.type_book%></td>
                                  <td><%= tt.amount%></td>
                                  <td><%= tt.time%></td>
                                  <td><%= tt.note%></td>
                                <% if (tt.activation == '-1') %>
                                <td><button type="button" class="btn btn-danger btn-sm delete" data-id="<%= tt.id%>" data-type="Order">Xóa</button></td>
                                <% elsif (tt.activation == '0')%>
                                <td><button type="button" style="size:12px" class="btn btn-info btn-sm edit" data-id="<%= tt.id%>" data-type="Order">Đang chờ</button>  </td>                                         
                                <%  else %>
                                      <td><button type="button" class="btn btn-success btn-sm accept" data-id="<%= tt.id%>" data-type="Order">Chấp nhận</button></td>
                                <%  end %>  
                                  <td><button type="button" class="btn btn-success btn-sm xacnhan" data-id="<%= tt.id%>" data-type="Order">Xác nhận</button></td>

                                 <tr>
                               <% end %>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
    </div>
     <!-- Delete Modal HTML -->
     <div id="deny" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header">
                                <h4 class="modal-title">Từ chối đơn hàng</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <input type="text" id="id_d" name="id" class="form-control">
                                <input type="text" id="type_p" name="id" class="form-control">                                
                                <p>Bạn có chắc chắn muốn từ chối đơn hàng này chứ</p>
                                <p class="text-warning"><small>Hành động này sẽ không thể hoàn tác.</small></p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                <button type="button" class="btn btn-danger" id="tuchoi">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>