<!DOCTYPE html>
<html>
  <head>
    <title>Tây Bắc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'owl'%>
    <%= javascript_pack_tag 'main'%>
    <%= javascript_pack_tag 'slicknav'%>

    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'fontawesome'%>



  </head>
  <body>  
<%= render "users/header" %>
<%= render "users/banner" %>


    <%= yield %>


<%= render "users/footer" %>
  </body>
</html>
